<div class="login-car">
  <div class="card-title">
    <h1>Login</h1>
    <span>You don't have an account? <a routerLink="/signup">Signup</a></span>
  </div>
  <form
    action=""
    class="form-group"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <input
      type="email"
      name="email"
      formControlName="email"
      placeholder="email"
    />
    <input type="password" formControlName="password" placeholder="password" />
    <button>Submit</button>
  </form>
</div>
